################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.env
venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.vs/
*.slnx
